{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog_list.css' %}">
{% endblock %}

{% block content %}

<section class="heading">
    <h1 class="blog-heading">Blog Posts</h1>
</section>
<section class="blog-section">
    <!-- Add Blog Button for Admins -->
    {% if user.is_staff %}
        <div class="add-blog">
            <a href="{% url 'write_blog' %}" class="btn btn-primary">Write a Blog</a>
        </div>
    {% endif %}
    
    <!-- Blog List -->
    {% for blog in page_obj %}
        <div class="blog-card">
            <a href="{% url 'blog_detail' blog.id %}" class="blog-link">
                <!-- Blog Image -->
                {% if blog.display_image %}
                    <img src="{{ blog.display_image }}" alt="{{ blog.title }}" class="blog-image">
                {% endif %}
                <h3 class="blog-title">{{ blog.title }}</h3>
                <p class="blog-excerpt">{{ blog.content|safe|truncatewords:30 }}</p>
            </a>
            <p class="blog-date">Published on {{ blog.created_at|date:"F j, Y" }}</p>
            {% if user.is_staff %}
            <div class="blog-actions">
                <a href="{% url 'edit_blog' blog.id %}" class="edit-link">Edit</a>
                <a href="{% url 'delete_blog' blog.id %}" class="delete-btn">Delete</a>
            </div>
            {% endif %}
        </div>
    {% endfor %}
</section>


    <!-- Pagination Controls -->
    {% if page_obj.has_other_pages %}
        <div class="pagination">
            <span class="page-info">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            <div class="pagination-controls">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="pagination-link">First</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="pagination-link">Previous</a>
                {% endif %}
            
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <span class="pagination-current">{{ num }}</span>
                    {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
                    <a href="?page={{ num }}" class="pagination-link">{{ num }}</a>
                    {% endif %}
                {% endfor %}
            
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="pagination-link">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="pagination-link">Last</a>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}
