{% extends 'base.html' %}

{% block title %}Optinex Home{% endblock %}

{% block home_active %}active{% endblock %}

{% load static %}

{% block content %}
<!-- Sliding Images Section -->
<section id="image-carousel">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="{% static 'images/slide4.png' %}" alt="Slide 1">
            </div>
            <div class="swiper-slide">
                <img src="{% static 'images/slide2.png' %}" alt="Slide 2">
            </div>
            <div class="swiper-slide">
                <img src="{% static 'images/slide1.png' %}" alt="Slide 3">
            </div>
            <div class="swiper-slide">
                <img src="{% static 'images/slide3.png' %}" alt="Slide 3">
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Navigation -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>


<!-- Welcome Section -->
<section id="welcome-area">
    <h2>Welcome to Optinex</h2>
    <p>
        Optinex provides comprehensive eye care services with ease and convenience. Whether you're seeking expert advice, a prescription, or glasses recommendations, our platform connects you with trusted professionals.
    </p>

    <div id="cta-buttons">
        {% if not user.is_authenticated %}
        <a href="{% url 'account_signup' %}" class="btn" aria-label="Sign up for Optinex">Sign Up</a>
        {% endif %}
        <a href="{% url 'about' %}" class="btn" aria-label="Learn more about Optinex">Learn More</a>
    </div>
</section>

<!-- How It Works Section -->
<section id="how-it-works">
    <h2>How It Works</h2>
    <div class="steps">
        <div class="step">
            <h3>Step 1</h3>
            <p>Search for an optometrist by service, location, or name.</p>
        </div>
        <div class="step">
            <h3>Step 2</h3>
            <p>View profiles, check availability, and book your appointment.</p>
        </div>
        <div class="step">
            <h3>Step 3</h3>
            <p>Receive expert eye care tailored to your needs.</p>
        </div>
    </div>
</section>

<!-- Featured Optometrists Section -->
<section id="featured-optometrists">
    <h2>Featured Optometrists</h2>
    <div class="specialists-list">

        <div class="specialist-card">
            <img src="https://res.cloudinary.com/dkqpb7vwr/image/upload/v1727428809/izb7us5ffedp82pnazse.png"
                alt="Photo of Dr. Anna Lemon, Optometrist">
            <h3>Dr. Anna Lemon</h3>
            <p>Optometrist - Manchester</p>
            </a>
        </div>
        <div class="specialist-card">
            <img src="https://res.cloudinary.com/dkqpb7vwr/image/upload/v1727891379/Henry_1000_x_1200_px_4_wbzino.png"
                alt="Specialist Image">
            <h3>Dr. Helen Grapes</h3>
            <p>Optometrist - London</p>
            </a>
        </div>
        <div class="specialist-card">
            <img src="https://res.cloudinary.com/dkqpb7vwr/image/upload/v1727891379/Henry_1000_x_1200_px_2_lxuffr.png"
                alt="Photo of Dr. Alex Kiwi, Optometrist">
            <h3>Dr. Alex Kiwi</h3>
            <p>Optometrist - Glasgow</p>
            </a>
        </div>
        <div class="specialist-card">
            <img src="https://res.cloudinary.com/dkqpb7vwr/image/upload/v1727428841/vtktxamzakpcolqlonpq.png"
                alt="Photo of Dr. John Orange, Optometrist">
            <h3>Dr. John Orange</h3>
            <p>Optometrist - Newcastle</p>
            </a>
        </div>
    </div>
</section>

<!-- Testimonials Section -->
<section id="testimonials">
    <h2>What Our Clients Say</h2>
    <div class="testimonial">
        <p>"Optinex made it easy to book an eye test and find the right glasses. A fantastic service!"</p>
        <span>- Michael C.</span>
    </div>
    <div class="testimonial">
        <p>"Quick and professional service! I was able to consult an optometrist online and get a prescription immediately."</p>
        <span>- Yennife R.</span>
    </div>
</section>

<!-- Call to Action Section -->
<section id="call-to-action">
    <div class="image-container">
        <img src="https://res.cloudinary.com/dkqpb7vwr/image/upload/v1727893554/Henry_5_ftm6gy.png"
            alt="Join Optinex today">
    </div>
    <div class="content">
        <h2>Join Us Today</h2>
        <p>Whether you're seeking expert eye care or an optometrist looking to expand your practice, Optinex is here to help. Join us now!</p>
        {% if not user.is_authenticated %}
        <a href="{% url 'account_signup' %}" class="btn btn-primary" aria-label="Sign up for Optinex">Sign up</a>
        {% endif %}
    </div>
</section>

{% endblock %}