@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Lora:wght@400;700&display=swap");

/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    font-family: "Catamaran", sans-serif;
    line-height: 1.6;
    font-size: 1.1rem;
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Page Container to accommodate content and footer */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* Controls padding for the whole mobile site*/
}

/* General header */
h1,
h2,
h3,
h4 {
    font-family: "Lora", sans-serif;
}

/* ---- Header section - chose to not add burger style for better accessibility ---- */
header {
    background-color: #dbe7e9;
}

#logo-accouunts-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin-top: 10px;
}

#logo-accouunts-container a {
    text-decoration: none;
}

/* #logo {
    flex: 1;
    font-family: "Lora", sans-serif;
    font-size: 2rem;
    color: #132B67;
    text-decoration: none;
}

#logo-link {
    font-size: 1.5rem;
    color: #132B67;
    text-decoration: none;
} */

/* Logo container */
#logo {
    display: flex;
}

/* SVG logo styling */
#logo img {
    width: auto; /* Allow it to scale naturally */
    height: 80px; /* Set a default height */
    margin-top: 15px;
    margin-bottom: -75px;
}

#accounts {
    flex: 1;
    flex-direction: row;
    text-align: right;
    list-style-type: none;
}

.accounts-list {
    list-style-type: none;
}

#accounts a {
    margin-left: 3px;
    text-decoration: none;
    color: #333;
    margin-right: 15px;
}


/* Navigation Styling */
#main-nav {
    margin-top: 10px;
    background-color: #1696a9;
    padding: 15px 0;
    justify-content: space-evenly;
    width: 100%;
}

#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 13px;
    font-weight: 300;
}

.nav-list a {
    padding: 12px 5px;
}

/* Style for the active navigation link */
#main-nav ul a.active {
    font-weight: bold;
    background-color: #0f172c;
    color: #f0f0f0;
}

#accounts a.current {
    text-decoration: underline;
    color: #333;
}




nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #0f172c;
}

/* Footer Styles */

footer {
    background-color: #0f172c;
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

footer p {
    margin: 5px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

#socials {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    margin-bottom: -8px;
}

#socials li {
    list-style-type: none;
}

#socials li a {
    color: #fff;
    font-size: 1.5rem;
}

#socials li a:hover {
    color: #1d84a9;
}

/* Confirmation Messages */
#confirmation-message {
    list-style-type: none;
    margin-left: 10px;
    color: #132B67;
    background-color: #e4f2fe;
    border-radius: 4px;
    max-width: 350px;
    padding: 5px;
}

/* ------------------------ Core - Index.html --------------------- */

/* #hero-banner {
    background-image: url("https://res.cloudinary.com/dkqpb7vwr/image/upload/v1736804112/optinex-hero-mobile1_llhegx.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    background-color: #f8f9fa;
}

#hero-banner h1 {
    color: #0f172c;
    font-size: 1.5rem;
    padding-top: 52px;
    padding-left: 15px;
}

#hero-banner p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
    padding-left: 15px;
} */


#image-carousel {
    width: 100%;
    height: 500px; /* Adjust height as needed */
    margin: 20px 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.swiper-slide img {
    width: 100%;
    height: 120%;
    object-fit: cover;
    margin-top: -20px;
}


/* Slide Text Styling */
.swiper-slide {
    position: relative;
}

.slide-text {
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    max-width: 80%;
    z-index: 10;
}

.slide-text h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.slide-text p {
    font-size: 1.2rem;
    margin-bottom: 0;
}




/* Welcome Area Styles */
#welcome-area {
    padding: 30px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

#welcome-area h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: #132B67;
    margin-top: 60px;
}

#welcome-area p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #333;
}

#cta-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#cta-buttons a {
    padding: 10px 20px;
    background-color: #17A2B8;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    width: auto;
    max-width: 200px;
    margin: 0 auto;
}

#cta-buttons a:hover {
    background-color: #138496;
}


/* How It Works Section */
#how-it-works {
    background-color: #6f17da;
    padding: 40px 20px;
    text-align: center;
}

#how-it-works h2 {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 20px;
}

#how-it-works .steps {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#how-it-works .step {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

#how-it-works h3 {
    font-size: 1.2rem;
    color: #17A2B8;
    margin-bottom: 10px;
}

/* Featured Specialists Section */
/* #featured-specialists {
    background-color: #fff;
    padding: 30px 20px;
    text-align: center;
}

#featured-specialists h2 {
    font-size: 1.5rem;
    color: #132B67;
    margin-bottom: 20px;
}

.specialists-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.specialist-card a {
    text-decoration: none;
}

.specialist-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

.specialist-card img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
}

.specialist-card h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #132B67;
}

.specialist-card p {
    font-size: 1rem;
    color: #555;
} */


/* Featured Frames Section */
#featured-frames {
    background-color: #fff;
    padding: 30px 20px;
    text-align: center;
}

#featured-frames h2 {
    font-size: 1.5rem;
    color: #132B67;
    margin-bottom: 20px;
}

.frames-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.frame-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

.frame-card img {
    border-radius: 10%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
}

.frame-card h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #132B67;
}

.frame-card p {
    font-size: 1rem;
    color: #555;
}


/* Testimonials Section */
#testimonials {
    background-color: #132B67;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

#testimonials h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.testimonial {
    margin-bottom: 20px;
    font-style: italic;
}

.testimonial span {
    display: block;
    margin-top: 10px;
    color: #17A2B8;
    font-weight: bold;
}

/* Call to Action Section */
#call-to-action {
    background-color: #17A2B8;
    color: #fff;
    text-align: center;
    padding: 30px 20px;
}

#call-to-action .image-container {
    position: relative;
    width: 100%;
    height: auto;
}

#call-to-action .image-container img {
    width: 100%;
    height: auto;
}

#call-to-action .content {
    padding: 15px 0;
}

#call-to-action h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

#call-to-action p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

#call-to-action a.btn {
    background-color: #fff;
    color: #17A2B8;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

#call-to-action a.btn:hover {
    background-color: #f0f0f0;
    color: #138496;
}

/* ----------------------------------------Contact Page Styling for mobile *-------------------------------- */
#contact-section {
    padding: 40px 20px;
}

#contact-header h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

#contact-header p {
    text-align: center;
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 40px;
}

#contact-info {
    margin-bottom: 40px;
    text-align: center;
}

#contact-info ul {
    list-style: none;
    padding: 0;
}

#contact-info li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#contact-info i {
    margin-right: 10px;
    color: #17A2B8;
}

#contact-form-container {
    margin-bottom: 40px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

#contact-form label {
    margin-bottom: 10px;
    font-weight: bold;
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

#contact-form button {
    padding: 12px;
    width: 50%;
    background-color: #17A2B8;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #138496;
}

/* -------------------------------------- Join Us Page Styling -------------------------------------*/
#join-us-section {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

#join-us-section h1 {
    font-size: 2rem;
    color: #132B67;
    margin-bottom: 20px;
}

#join-us-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    padding-bottom: 20px;
    color: #333;
    max-width: 700px;
    margin: 0 auto;
}

#specialist-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#specialist-list li {
    background-color: #17A2B8;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 1rem;
}

#cta-join-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#cta-join-buttons .btn {
    padding: 10px 25px;
    background-color: #17A2B8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

#cta-join-buttons .btn:hover {
    background-color: #138496;
}

/* -------------------------------------- FAQ ---------------------------------------Styling */
#faq-section {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

#faq-section h1 {
    font-size: 2rem;
    color: #132B67;
    margin-bottom: 20px;
}

#faq-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #333;
}

/* FAQ Container */
.faq-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.faq-item {
    margin-bottom: 20px;
}

/* FAQ Question Styling */
.faq-question {
    background-color: #17A2B8;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    text-align: left;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #138496;
}

/* FAQ Answer Styling */
.faq-answer {
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
}

.faq-answer p {
    margin: 0;
    font-size: 1rem;
}

/* Expandable FAQ */
.faq-question[aria-expanded="true"] + .faq-answer {
    display: block;
}






/* -------- Media query for tablets --------- */
@media (min-width: 768px) {

    /* Header */
    /* #logo-accouunts-container {
        padding: 20px 15px;
    }

    #logo {
        flex: 1;
        font-family: "Lora", sans-serif;
    }

    #logo-link {
        margin-left: 20px;
        font-size: 2.5rem;
        color: #132B67;
        text-decoration: none;
    } */

    #logo img {
        width: auto; /* Medium screen logo size */
        height: 100px;
        margin-top: 20px;
        margin-bottom: -70px;
        margin-left: 10px;

    }

    #accounts a {
        font-size: 1.4rem;
        font-weight: 600;
        /* padding: 20px 15px; */
    }

    .nav-list {
        gap: 60px;
        font-weight: 600;
        font-size: 1.4rem;
    }

    /* Main search section and bannar */

    #hero-banner {
        display: grid;
        align-items: center;
        padding: 20px;
    }

/* Slide Text Styling */
.swiper-slide {
    position: relative;
}

.slide-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    max-width: 80%;
    z-index: 10;
}

.slide-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.slide-text p {
    font-size: 1.2rem;
    margin-bottom: 0;
}

    #search-container {
        max-width: 80%;
    }

    /* Welcome area */
    #welcome-area {
        max-width: 80%;
        margin: 0 auto;
        text-align: left;
        padding: 40px 0;
    }

    #welcome-area h2 {
        font-size: 2.5rem;
    }

    #welcome-area p {
        font-size: 1.3rem;
    }

    /* Call to action section */

    #cta-buttons {
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
    }

    #cta-buttons a {
        max-width: 180px;
    }

    /* How it works section */
    #how-it-works .steps {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    #how-it-works h2 {
        font-size: 2.5rem;
    }

    #how-it-works h3 {
        font-size: 2rem;
    }

    #how-it-works p {
        font-size: 1.4rem;
    }

    /* Featured specialists */
    .specialists-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        justify-content: center;
    }

    /* Call-to-action section */
    #call-to-action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 20px;
    }

    #call-to-action .image-container {
        flex: 1;
        margin-right: 20px;
    }

    #call-to-action .content {
        flex: 1;
        text-align: left;
    }

    /* Hero Section */
    #hero-banner-about {
        height: 60vh;
        background-size: cover;
        background-position: center;
        padding: 60px 20px;
    }

    #hero-banner-about h1 {
        font-size: 3rem;
    }

    #hero-banner-about p {
        font-size: 1.5rem;
    }

    /* ------------------------------- About Content for tablets -------------------------- */
    #about-content {
        max-width: 80%;
        margin: 0 auto;
        padding: 40px 20px;
    }

    #about-content h2 {
        font-size: 2.5rem;
    }

    #about-content p {
        font-size: 1.3rem;
        line-height: 1.8;
    }

    /* Services Section */
    #our-services {
        padding: 50px 20px;
    }

    .service-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .service-item {
        width: 100%;
    }

    /* How It Works Section */
    #how-it-works {
        padding: 50px 20px;
    }

    #how-it-works .steps {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    #how-it-works h2 {
        font-size: 2.5rem;
    }

    /* Why Choose HealMate Section */
    #why-choose {
        padding: 50px 20px;
    }

    #why-choose ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    /* Team Section */
    #team {
        padding: 50px 20px;
    }

    .team-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    /* ------------------------------- Contact Us for tablets and larger screens -------------------------- */
    #contact-section {
        margin-top: 80px;
    }
    
    #contact-header p {
        padding: 0 200px;
    }

    #contact-info,
    #contact-form-container {
        max-width: 70%;
        margin: 0 auto;
        padding-top: 40px;
    }

    #contact-info {
        text-align: left;
    }

    #contact-form {
        max-width: 80%;
        margin-left: -5px;
        margin-top: 10px;
    }

    #map-container iframe {
        height: 400px;
    }

    #contact-form button {
        width: 22%;
    }

    /* ------------------------------- Join Us for tablets and larger screens -------------------------- */
    #join-us-section {
        margin: 60px;
    }
    #join-us-section h1 {
        font-size: 2.5rem;
    }

    #join-us-section p {
        font-size: 1.4rem;
        max-width: 800px;
        padding-bottom: 40px;
    }

    #specialist-list li {
        font-size: 1.1rem;
    }

    #cta-join-buttons .btn {
        padding: 15px 30px;
    }

    /*--- Footer ---*/
    #socials {
        justify-content: left;
        margin-left: 40px;
        gap: 1.5rem;
    }

    footer p {
        text-align: left;
        margin-left: 2.5rem;
        font-size: 1rem;
    }

}

/* -------- Media query for screens larger than 1024px--------- */

@media (min-width: 1024px) {

    /* Header */
    .nav-list {
        gap: 60px;
        font-weight: 100;
        font-size: 1.2rem;
    }

    .nav-list a {
        display: block;
        padding: 10px;
    }

    #main-nav {
        margin-top: 10px;
        padding: 0;
        background-color: #1696a9;
        justify-content: space-evenly;
        width: 100%;
    }

    /* #logo-accouunts-container {
        padding: 10px 60px 0 60px;
    } */

    #logo img {
        width: auto; /* Medium screen logo size */
        height: 100px;
        margin-top:10px;
        margin-bottom: -80px;
        margin-left: 20px;
    }

    #accounts a {
        font-size: 1.1rem;
        margin-right: 30px;
    }

    /* Main search section and bannar */
    #hero-banner {
        background-image: url("https://res.cloudinary.com/dkqpb7vwr/image/upload/v1736801064/optinex-hero1_ykgn8t.png");
        background-position: unset;
        height: 100vh;
    }

    #hero-banner h1 {
        color: #132B67;
        font-size: 3rem;
        margin-top: -50px;
        margin-left: 20px;
    }

    #hero-banner p {
        color: #333;
        font-size: 1.5rem;
        font-weight: 400;
        width: 600px;
        margin-left: 20px;
    }

    #search-container {
        margin: 50px 35px;
        max-width: 600px;
        width: 35%;
    }

    #search-container form {
        margin-left: 20px;
        padding-bottom: 20px;
    }

    #search-container h2 {
        margin-left: 30px;
    }

    #search-container input,
    #search-container select {
        width: 92%;
    }

    #search-container button {
        width: 35%;
        font-size: 1.2rem;
    }

    #search-container button:hover {
        background-color: #138496;
    }

    /* Welcome Area Styles */
    #welcome-area,
    #testimonials {
        max-width: 70%;
        margin: 50px auto;
    }

    #welcome-area h2 {
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
    }

    #welcome-area p {
        font-size: 1.3rem;
        margin-bottom: 25px;
        color: #333;
    }

    #cta-buttons {
        flex-direction: column;
    }

    /* How it works section */
/* 
    #how-it-works {
        height: 50vh;
        border: 60px 0;
    }

    #how-it-works .steps {
        padding: 0 90px;
    } */

    /* Featured specialists section */
    #featured-specialists {
        padding: 60px 80px;
    }

    #featured-specialists h2 {
        font-size: 2.5rem;
    }

    #call-to-action {
        padding: 50px 0;
    }

    #call-to-action .content h2 {
        font-size: 2rem;
    }
    /* -------------------------------About page for larger screens ---------------- */
    /* Hero Section */


/* Slide Text Styling */
.swiper-slide {
    position: relative;
}

.slide-text {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    max-width: 80%;
    z-index: 10;
}

.slide-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.slide-text p {
    font-size: 1.2rem;
    margin-bottom: 0;
}

    /* About Content */
    #about-content {
        max-width: 70%;
        margin: 0 auto;
        padding: 60px 40px;
    }

    #about-content h2 {
        font-size: 2.5rem;
    }

    #about-content p {
        font-size: 1.3rem;
        line-height: 2;
    }

    /* Services Section */
    #our-services {
        padding: 60px 40px;
    }

    .service-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .service-item h3 {
        font-size: 1.8rem;
    }

    .service-item p {
        font-size: 1.2rem;
    }

    /* How It Works Section */
    #how-it-works {
        padding: 100px 40px;
    }

    #how-it-works h2 {
        font-size: 3rem;
    }

    #how-it-works h3 {
        font-size: 2rem;
    }

    #how-it-works p {
        font-size: 1.5rem;
    }

    /* Why Choose HealMate Section */
    #why-choose {
        padding: 60px;
    }

    #why-choose ul {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding-left: 90px;
    }

    #why-choose li h3 {
        font-size: 1.8rem;
    }

    #why-choose li p {
        font-size: 1.2rem;
    }

    /* Team Section */
    #team {
        padding: 60px;
    }

    .team-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        padding-left: 300px;
    }

    .team-member h3 {
        font-size: 1.5rem;
    }

    .team-member p {
        font-size: 1.2rem;
    }

    /* Call to Action Section */
    #call-to-action {
        padding: 4rem 10rem;
    }

    #call-to-action h2 {
        font-size: 1.5rem;
    }

    #call-to-action p {
        font-size: 1.5rem;
    }

    
    /* -------------------------------Join Us page for larger screens ---------------- */
    #join-us-section h1 {
        font-size: 3rem;
        margin: 0 60px;
        padding-bottom: 30px;
    }

    #join-us-section p {
        font-size: 1.3rem;
    }

    #cta-join-buttons .btn {
        font-size: 1.2rem;
        padding: 15px 35px;
    }

    footer p {
        text-align: left;
        margin-left: 2.5rem;
        font-size: 1rem;
    }
}